<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HMS_MVC</title>
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HMS_MVC.styles.css" asp-append-version="true" />*@
  
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/aos.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/aos.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/fancybox.min.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
   

    <header class="site-header js-site-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href="index.html">Sogo Hotel</a></div>
                <div class="col-6 col-lg-8">


                    <div class="site-menu-toggle js-site-menu-toggle" data-aos="fade">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- END menu-toggle -->

                    <div class="site-navbar js-site-navbar">
                        <nav role="navigation">
                            <div class="container">
                                <div class="row full-height align-items-center">
                                    <div class="col-md-6 mx-auto">
                                        <ul class="list-unstyled menu">
                                            <li class="active"><a href="index.html">Home</a></li>
                                            <li><a href="rooms.html">Rooms</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="reservation.html">Reservation</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HMS_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/jquery-3.3.1.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.stellar.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.fancybox.min.js" asp-append-version=" true"></script>


    <script src="~/js/aos.js" asp-append-version="true"></script>

    <script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/js/jquery.timepicker.min.js" asp-append-version="true"></script>



    <script src="js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
